#admin-initial-menu ul {
  padding: 0px; }
  #admin-initial-menu ul li {
    display: flex;
    justify-content: center;
    list-style: none; }
    #admin-initial-menu ul li a {
      width: 250px; }

#admin #admin-nav {
  border: 2px solid lightgrey;
  height: 75vh;
  padding: 10px; }
  #admin #admin-nav button {
    width: 100%; }
  #admin #admin-nav ul {
    padding: 0px; }
  #admin #admin-nav li {
    display: flex;
    justify-content: left; }
    #admin #admin-nav li a {
      font-size: 15px;
      text-align: left; }

#admin #admin-body {
  border: 2px solid lightgrey;
  height: 75vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  position: relative; }
  #admin #admin-body #admin-header {
    display: flex;
    justify-content: space-between; }
    #admin #admin-body #admin-header h2 {
      margin-bottom: 25px; }
    #admin #admin-body #admin-header span#admin-page-type {
      color: lightgrey; }
  #admin #admin-body #admin-table #admin-table-header .admin-table-header-item {
    width: 100%; }
  #admin #admin-body #admin-table #admin-table-header .admin-table-header-labelled-group {
    position: relative;
    top: -24px; }
  #admin #admin-body #admin-table #admin-table-pages {
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll; }
    @media (min-height: 400px) and (max-height: 500px) {
      #admin #admin-body #admin-table #admin-table-pages {
        max-height: 40%; } }
    @media (min-height: 500px) and (max-height: 625px) {
      #admin #admin-body #admin-table #admin-table-pages {
        max-height: 50%; } }
    @media (min-height: 625px) and (max-height: 750px) {
      #admin #admin-body #admin-table #admin-table-pages {
        max-height: 60%; } }
    #admin #admin-body #admin-table #admin-table-pages .admin-table-page {
      margin: 0px; }
      #admin #admin-body #admin-table #admin-table-pages .admin-table-page tr {
        border-color: black; }
        #admin #admin-body #admin-table #admin-table-pages .admin-table-page tr:nth-child(even) {
          background: #CCC; }
        #admin #admin-body #admin-table #admin-table-pages .admin-table-page tr:nth-child(odd) {
          background: #FFF; }
      #admin #admin-body #admin-table #admin-table-pages .admin-table-page td {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  #admin #admin-body #admin-table #admin-table-pagination {
    position: absolute;
    bottom: 10px; }
    #admin #admin-body #admin-table #admin-table-pagination button {
      height: 30px;
      width: 30px; }
    #admin #admin-body #admin-table #admin-table-pagination input {
      height: 30px;
      width: 50px; }
    #admin #admin-body #admin-table #admin-table-pagination #backward-pagination-icons i {
      transform: rotate(180deg); }
  #admin #admin-body #admin-form .admin-form-group {
    padding-bottom: 10px; }



#secondary-navbar {
  background: linear-gradient(to bottom, white, #afafaf);
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  #secondary-navbar ul {
    display: flex;
    flex-direction: row; }
    #secondary-navbar ul li {
      flex: 1;
      margin: 0px 10px; }
      #secondary-navbar ul li a {
        font-weight: bold; }
        #secondary-navbar ul li a:hover {
          -webkit-transform: scale(1.1); }
  @media (min-width: 0px) and (max-width: 576px) {
    #secondary-navbar {
      width: 300px; } }

@media (min-width: 992px) {
  span.icon {
    display: none; }
  span.text {
    display: inline-block; } }

@media (max-width: 992px) {
  span.icon {
    display: inline-block; }
  span.text {
    display: none; } }

@media (min-width: 576px) {
  #header-left {
    text-align: left; } }

@media (max-width: 576px) {
  #header-left {
    text-align: center; } }

@media (min-width: 576px) {
  #header-left #header-left-text-container {
    max-width: 200px; } }

@media (min-width: 0px) and (max-width: 576px) {
  #header-right {
    flex-direction: row; } }

@media (min-width: 576px) and (max-width: 992px) {
  #header-right {
    align-items: center;
    flex-direction: column; } }

@media (min-width: 576px) {
  #header-right {
    justify-content: flex-end; } }

@media (max-width: 576px) {
  #header-right {
    justify-content: center; } }

#header-right .header-right-btn {
  width: 100px; }
  @media not all and (min-width: 576px) and (max-width: 992px) {
    #header-right .header-right-btn:first-child {
      margin-right: 10px; }
    #header-right .header-right-btn:last-child {
      margin-left: 10px; } }
  @media (min-width: 576px) and (max-width: 992px) {
    #header-right .header-right-btn:first-child {
      margin-bottom: 2.5px; }
    #header-right .header-right-btn:last-child {
      margin-top: 2.5px; } }

@media (max-width: 576px) {
  #header-center {
    display: flex;
    justify-content: center; } }

body {
  min-width: 350px;
  min-height: 750px; }

a:hover {
  cursor: pointer; }

.inversed {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

table th, table td {
  width: 100%; }
  table th a, table td a {
    min-width: 40px;
    padding: 0px !important;
    width: 100%;
    white-space: normal; }

.product-widget .product-widget-zero-add-button, .product-widget .product-widget-non-zero-add-button, #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-add-button, #basket #basket-footer #basket-checkout, .product-widget .product-widget-non-zero-remove-button, #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-remove-button {
  border: 2px solid black;
  border-radius: 5px; }

.product-widget .product-widget-zero-add-button, .product-widget .product-widget-non-zero-add-button, #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-add-button, #basket #basket-footer #basket-checkout {
  background: linear-gradient(#f1fbf4, #8FDEA0); }
  .product-widget .product-widget-zero-add-button:hover, .product-widget .product-widget-non-zero-add-button:hover, #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-add-button:hover, #basket #basket-footer #basket-checkout:hover {
    background: linear-gradient(#caefd2, #68d27f); }

.product-widget .product-widget-non-zero-remove-button, #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-remove-button {
  background: linear-gradient(#f0b9b8, #D9534F); }
  .product-widget .product-widget-non-zero-remove-button:hover, #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-remove-button:hover {
    background: linear-gradient(#e7908e, #c9302c); }

.product-widget {
  border: 3px solid #0070C0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 10px;
  min-width: 150px; }
  .product-widget * {
    text-align: center; }
  .product-widget .product-widget-row {
    padding: 5px 0px; }
  .product-widget .product-widget-image-container {
    display: flex;
    justify-content: center; }
    .product-widget .product-widget-image-container .product-widget-image {
      width: 100%; }
  .product-widget .product-widget-name {
    background-color: #0070C0;
    font-size: 1.1em;
    justify-content: center; }
  .product-widget .product-widget-detail,
  .product-widget .product-widget-add {
    background-color: #5B9BD5;
    display: flex;
    font-size: 0.75em;
    justify-content: space-evenly; }
  .product-widget .product-widget-non-zero {
    display: none !important;
    justify-content: space-between !important; }
  .product-widget .product-widget-zero-add-button {
    height: 100%;
    width: 100%; }
  .product-widget .product-widget-non-zero-add-button, .product-widget .product-widget-non-zero-remove-button {
    height: 100%;
    width: 45%; }
  .product-widget .product-widget-component, .product-widget .product-widget-add-component {
    display: flex;
    justify-content: center; }
  .product-widget .product-widget-add-component {
    flex: 1;
    padding: 10px; }

#products, #basket {
  border: 2px solid lightgrey;
  height: 75vh;
  overflow-x: scroll;
  overflow-y: scroll; }

.product-row {
  display: flex; }

#basket {
  background-color: #e1e1e1;
  position: relative; }
  #basket #basket-header {
    background-color: #0070C0;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    margin: 15px;
    padding: 5px;
    text-align: center; }
  #basket #basket-items .basket-widget {
    background-color: white;
    border: 2px solid #7d7d7d;
    border-radius: 5px;
    display: flex;
    height: 75px;
    margin: 15px; }
    #basket #basket-items .basket-widget .basket-widget-image-container {
      display: flex;
      flex: 3;
      justify-content: center; }
      #basket #basket-items .basket-widget .basket-widget-image-container .basket-item-image {
        object-fit: contain;
        width: 40%; }
    #basket #basket-items .basket-widget .basket-widget-main {
      display: flex;
      flex: 7;
      flex-direction: column;
      justify-content: space-evenly; }
      #basket #basket-items .basket-widget .basket-widget-main .basket-item-name, #basket #basket-items .basket-widget .basket-widget-main .basket-widget-details {
        display: flex;
        flex-direction: column;
        height: 50%; }
      #basket #basket-items .basket-widget .basket-widget-main .basket-item-name {
        font-size: 20px;
        font-weight: bold;
        justify-content: flex-end; }
      #basket #basket-items .basket-widget .basket-widget-main hr {
        margin: 0px; }
      #basket #basket-items .basket-widget .basket-widget-main .basket-widget-details {
        color: #afafaf;
        flex-direction: row; }
        #basket #basket-items .basket-widget .basket-widget-main .basket-widget-details .basket-widget-detail {
          padding-right: 10px; }
    #basket #basket-items .basket-widget .basket-widget-modify {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: space-evenly; }
      #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-add-button, #basket #basket-items .basket-widget .basket-widget-modify .basket-widget-remove-button {
        margin: 0px 10px;
        height: 40%; }
  #basket #basket-footer {
    background-color: #d4d4d4;
    border-top: 2px solid #afafaf;
    bottom: 0px;
    display: flex;
    height: 75px;
    justify-content: center;
    padding: 15px 0px;
    position: absolute;
    width: 100%; }
    #basket #basket-footer #basket-price, #basket #basket-footer #basket-checkout {
      flex: 1; }
    #basket #basket-footer #basket-price {
      text-align: center; }
    #basket #basket-footer #basket-checkout {
      margin: 0px 15px; }
