#admin-initial-menu {
    ul {
        padding: 0px;
        
        li {
            display: flex;
            justify-content: center;
            list-style: none;
    
            a {
                width: 250px;
            }
        }
    }
}

#admin {
    #admin-nav {
        border: 2px solid lightgrey;
        height: 75vh;
        padding: 10px;

        button {
            width: 100%;
        }
        
        li {
            display: flex;
            justify-content: left;

            a {
                font-size: 15px;
                text-align: left;
            }
        }
    }

    #admin-body {
        border: 2px solid lightgrey;
        height: 75vh;
        padding: 10px;
        position: relative;

        #admin-header {
            h2 {
                margin-bottom: 25px;
            }

            span#admin-page-type {
                color: lightgrey;
            }
        }

        #admin-table {
            #admin-table-header {
                .admin-table-header-item {
                    width: 100%;
                }

                .admin-table-header-labelled-group {
                    position: relative;
                    top: -24px;
                }
            }

            #admin-table-pages {
                max-height: 70%;
                overflow: hidden;
                overflow-y: scroll;
    
                @media (min-height: 400px) and (max-height: 500px) {max-height: 40%;}
                @media (min-height: 500px) and (max-height: 625px) {max-height: 50%;}
                @media (min-height: 625px) and (max-height: 750px) {max-height: 60%;}
    
                .admin-table-page {
                    margin: 0px;
        
                    tr {
                        border-color: black;
    
                        &:nth-child(even) {
                            background: #CCC
                        }
    
                        &:nth-child(odd) {
                            background: #FFF
                        }
                    }
        
                    td {
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            #admin-table-pagination {
                position: absolute;
                bottom: 10px;
    
                button {
                    height: 30px;
                    width: 30px;
                }
    
                input {
                    height: 30px;
                    width: 50px;
                }
    
                #backward-pagination-icons i {
                    transform: rotate(180deg);
                }
            }
        }
    }
}