#admin-initial-menu {
    ul {
        padding: 0px;
        
        li {
            display: flex;
            justify-content: center;
            list-style: none;
    
            a {
                width: 250px;
            }
        }
    }
}

#admin {
    #admin-nav {
        border: 2px solid lightgrey;
        height: 75vh;
        min-height: 400px;
        padding: 10px;

        button {
            width: 100%;
        }

        ul {
            padding: 0px;
        }
        
        li {
            display: flex;
            justify-content: left;

            a {
                font-size: 15px;
                text-align: left;
            }
        }
    }

    #admin-body {
        border: 2px solid lightgrey;
        height: 75vh;
        min-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        position: relative;

        #admin-header {
            display: flex;
            justify-content: space-between;
            
            h2 {
                margin-bottom: 25px;
            }

            span#admin-page-type {
                color: lightgrey;
            }

            .admin-header-item {
                height: 38px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 200px;
            }
        }

        #admin-table {
            #admin-table-header {
                display: flex;

                #search-admin-product-input {
                    flex: 1;
                    margin-right: 5px;
                }

                button {
                    width: 200px;
                }
            }

            #admin-table-pages {
                top: 120px;
                right: 10px;
                bottom: 55px;
                left: 10px;
                position: absolute;
                overflow: hidden;
                overflow-y: scroll;
    
                .admin-table-page {
                    margin: 0px;
                    table-layout: fixed;
        
                    tr {
                        border-color: black;
    
                        &:nth-child(even) {
                            background: #CCC
                        }
    
                        &:nth-child(odd) {
                            background: #FFF
                        }
                    }
        
                    td {
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            #admin-table-pagination {
                position: absolute;
                bottom: 10px;
    
                button {
                    height: 30px;
                    width: 30px;
                }
    
                input {
                    height: 30px;
                    width: 50px;
                }
    
                #backward-pagination-icons i {
                    transform: rotate(180deg);
                }
            }
        }

        #admin-form {
            .admin-form-group {
                padding-bottom: 10px;
            }
        }
    }
}

label {
    width: 100%;
}

.select2-container {
    width: 100% !important;
}

.select2-selection {
    border-color: #ced4da !important;
    height: 38px;
}