@import 'colours';

.shopping-cart-table {
    table-layout: fixed;
    width: 100%;
}

.shopping-cart-table tr:last-child td:last-child {
    color: $success;
    font-weight: bold;
    font-size: 2em;
}

#cart-okay-heading-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#cart-okay-heading {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    width: 225px;
}

.cart-notice {
    margin-bottom: 25px;
}

.cart-short-notice {
    @extend .cart-notice;
    text-align: center;
}

.cart-long-notice {
    @extend .cart-notice;
    text-align: justify;
}

.cart-option-container {
    border: 2px solid white;
    padding: 5px;
}

.cart-option-container#local-container {
    border-color: $lightgrey;
    border-radius: 5px;
}

#confirm-checkout {
    margin-block-end: 0px;
}

.checkout-button {
    margin: 5px;
    width: 200px;
}

.checkout-button input[type=submit] {
    width: 100%;
}