@import 'colours';

.shopping-cart-table {
    table-layout: fixed;
    width: 100%;
}

.cart-notice {
    margin: 20px 0px;
    text-align: justify;
}

.cart-option-container {
    border: 2px solid white;
    padding: 5px;
}

.cart-option-container#local-container {
    border-color: $lightgrey;
    border-radius: 5px;
}