$primary: rgb(0, 123, 255);
$secondary: rgb(108, 117, 125);
$success: rgb(40, 167, 69);
$danger: rgb(220, 53, 69);
$light: rgb(248, 249, 250);


$white: rgb(255, 255, 255);
$darkgrey: rgb(125, 125, 125);
$grey: rgb(175, 175, 175);
$lightgrey: rgb(225, 225, 225);
$black: rgb(0, 0, 0);

$dark-blue: #0070C0;
$blue: #5B9BD5;