$primary: rgb(0, 123, 255);
$secondary: rgb(108, 117, 125);
$success: rgb(40, 167, 69);
$danger: rgb(220, 53, 69);
$light: rgb(248, 249, 250);
$white: rgb(255, 255, 255);
$grey: rgb(175, 175, 175);
$black: rgb(0, 0, 0);