@import 'colours';

body {
    min-width: 318px;
}

a {
    &:hover {
        cursor: pointer;
    }
}

.inversed {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

table {
    th, td {
        width: 100%;
    
        a {
            min-width: 40px;
            padding: 0px !important;
            width: 100%;
            white-space: normal;
        }
    }   
}

.loading {
    font-size: 30px;

    &:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 1.5s infinite;      
        animation: ellipsis steps(4,end) 1.5s infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
    }
}
  
@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}