.product-widget {
    border: 2px solid #0070C0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 10px;

    * {
        text-align: center;
    }

    .product-widget-row {
        padding: 5px 0px;
    }

    .product-widget-image {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .product-widget-name {
        background-color: #0070C0;
        font-size: 1.1em;
        justify-content: center;
    }

    .product-widget-detail,
    .product-widget-add {
        background-color: #5B9BD5;
        display: flex;
        font-size: 0.75em;
        justify-content: space-evenly;
    }

    .product-widget-add-button {
        background: linear-gradient(#DFF3E3, #8FDEA0);
        border: 2px solid black;
        border-radius: 5px;
        width: 75%;

        &:hover {
            background: linear-gradient(
                darken(#DFF3E3, 10%),
                darken(#8FDEA0, 10%)
            );
        }
    }

    .product-widget-component{
        display: flex;
        justify-content: center;

        input {
            width: 75%;
        }
    }

    .product-widget-add-component {
        @extend .product-widget-component;
        flex: 1;
    }
}

#products, #basket {
    border: 2px solid lightgrey;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.product-row {
    display: flex;
}