@import 'buttons';
@import 'colours';

#shop {
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 130px;
    width: 100%;
}

#shop-large-col {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#shop-small-col {
    min-width: 50px;
    width: 5%;
}

#products-grid {
    --bs-gutter-x: 0rem;
}

.product-widget {
    border: 3px solid $dark-blue;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 10px;
    min-width: 150px;

    * {
        text-align: center;
    }

    .product-widget-row {
        padding: 5px 0px;
    }

    .product-widget-image-container {
        display: flex;
        justify-content: center;

        .product-widget-image {
            width: 100%;
        }
    }

    .product-widget-name {
        background-color: $dark-blue;
        font-size: 1.1em;
        justify-content: center;
    }

    .product-widget-detail,
    .product-widget-add {
        background-color: $blue;
        display: flex;
        font-size: 0.75em;
        justify-content: space-evenly;
    }

    .product-widget-non-zero {
        display: none !important;
        justify-content: space-between !important;
    }

    .product-widget-zero-add-button {
        @extend %green-button;
        height: 100%;
        width: 100%;
    }

    %non-zero-button {
        height: 100%;
        width: 45%;
    }

    .product-widget-non-zero-add-button {
        @extend %green-button;
        @extend %non-zero-button;
    }

    .product-widget-non-zero-remove-button {
        @extend %red-button;
        @extend %non-zero-button;
    }

    .product-widget-component{
        display: flex;
        justify-content: center;
    }

    .product-widget-add-component {
        @extend .product-widget-component;
        flex: 1;
        padding: 10px;
    }
}

#search-container {
    padding: 0px 5px 5px 0px;
}

#products-container {
    flex: 1;
    height: 100;
    padding: 5px 5px 0px 0px;
}

#basket-container {
    height: 100%;
    padding: 0px 0px 0px 5px;
}

#products {  
    overflow-x: scroll;
    overflow-y: scroll;
}

#products, #basket, #search {
    border-radius: 5px;
    height: 100%;
}

#products, #basket {
    border: 2px solid lightgrey;
}

#search {
    align-items: center;
    background-color: $blue;
    --bs-gutter-x: 0rem;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 10px;

    .search-group {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 5px 0px;
        width: 400px;
    }

    label {
        color: white;
        font-size: 18px;
        margin-right: 25px;
        text-align: right;
        white-space: nowrap;
    }
}

.product-row {
    display: flex;
}

.basket-widget-active {
    margin: 1em 0.65em !important;
}

#basket {
    background-color: $lightgrey;
    position: relative;

    #basket-header {
        background-color: $dark-blue;
        border-radius: 5px;
        color: $white;
        font-size: 1.5em;
        margin: 15px;
        padding: 5px;
        text-align: center;
    }

    #basket-items {
        .basket-widget {
            background-color: white;
            border: 2px solid $darkgrey;
            border-radius: 5px;
            display: flex;
            height: 75px;
            margin: 15px;
            transition: all 0.05s ease-in-out;
    
            .basket-widget-image-container {
                display: flex;
                flex: 3;
                justify-content: center;
    
                .basket-item-image {
                    object-fit: contain;
                    width: 40%;
                }
            }
    
            .basket-widget-main {
                display: flex;
                flex: 7;
                flex-direction: column;
                justify-content: space-evenly;
    
                %basket-widget-main-item {
                    display: flex;
                    flex-direction: column;
                    height: 50%;
                }
    
                .basket-item-name {
                    @extend %basket-widget-main-item;
                    font-size: 20px;
                    font-weight: bold;
                    justify-content: flex-end;
                }
    
                hr {
                    margin: 0px;
                }
    
                .basket-widget-details {
                    @extend %basket-widget-main-item;
                    color: $grey;
                    flex-direction: row;

                    .basket-widget-detail {
                        padding-right: 10px;
                    }
                }
            }
    
            .basket-widget-modify {
                display: flex;
                flex: 2;
                flex-direction: column;
                justify-content: space-evenly;
        
                %basket-item-modify-item {
                    margin: 0px 10px;
                    height: 40%;
                }
        
                .basket-widget-add-button {
                    @extend %basket-item-modify-item;
                    @extend %green-button;
                }
    
                .basket-widget-remove-button {
                    @extend %basket-item-modify-item;
                    @extend %red-button;
                }
            }
        }
    }

    #basket-footer {
        background-color: darken($lightgrey, 5%);
        border-top: 2px solid $grey;
        bottom: 0px;
        height: 75px;
        justify-content: center;
        padding: 15px 0px;
        position: absolute;
        width: 100%;
        
        %basket-footer-item {
            flex: 1;
        }

        #basket-price {
            @extend %basket-footer-item;
            text-align: center;
        }

        #basket-checkout {
            @extend %basket-footer-item;
            @extend %green-button;
            color: black;
            line-height: 2.2;
            margin: 0px 15px;
            text-align: center;
            text-decoration: none;
        }
    }
}

%basket-min-max {
    
    cursor: pointer;
}

#basket-minimise {
    @extend %basket-min-max;
}

#basket-maximise {
    @extend %basket-min-max;
    color: black;
    // display: none;
    font-size: 1.5em;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

#basket-header, #basket-items, #basket-footer {
    display: none;
}

#basket {
    overflow-x: hidden;
    overflow-y: hidden;
}