@import 'buttons';
@import 'colours';

#modal {
    background-color: rgba(175, 175, 175, 0.75);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;

    #modal-close {
        color: white;
        cursor: pointer;
        font-size: 1.5em;
        margin: 9px;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    #modal-box {
        background-color: white;
        border: 3px solid $dark-blue;
        border-radius: 8px;
        left: 50%;
        margin-left: -250px;
        position: absolute;
        top: 50%;
        width: 500px;

        #modal-name-container {
            display: flex;
            background-color: $dark-blue;
            border-radius: 5px;
            justify-content: center;
            margin: 3px;

            #modal-name {
                color: white;
                font-size: 1.1em;
                font-weight: bold;
                padding: 5px;
            }
        }

        table {
            margin: 10px;
            table-layout: fixed;
            width: 100%;

            tr > td:first-child {
                color: $grey;
                padding-right: 5px;
                text-align: right;
            }

            tr > td:last-child {
                font-weight: bold;
                padding-left: 5px;
                text-align: left;
            }
        }
        
        hr {
            border-top: 2px dotted $grey;
            margin: 0px 25px;
        }

        #modal-description-container {
            margin: 10px;
            text-align: center;
        }

        #modal-nutrition-container {
            margin: 10px;
            text-align: center;
        }

        #modal-nutrition-blocks {
            display: flex;
            margin: 0px 20px;

            .modal-nutrition-block {
                background-color: $blue;
                border: 2px solid $dark-blue;
                border-radius: 5px;
                color: white;
                flex: 1;
                margin: 5px;
                text-align: center;

                .modal-nutrition-block-heading {
                    font-size: 0.7em;
                    font-weight: bold;
                    margin: 5px;
                }

                .modal-nutrition-block-data-actual {
                    margin: 5px;
                }

                .modal-nutrition-block-data-pct-container-container {
                    display: flex;
                    justify-content: center;
                    margin: 5px;
                }

                .modal-nutrition-block-data-pct-container {
                    align-items: center;
                    background-color: white;
                    border: 2px solid black;
                    border-radius: 50%;
                    display: flex;
                    height: 60px;
                    justify-content: center;
                    width: 60px;

                    .modal-nutrition-block-data-pct {
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#shop {
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 130px;
    width: 100%;
}

#shop-large-col {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#shop-small-col {
    min-width: 50px;
    width: 5%;
}

#products-grid {
    --bs-gutter-x: 0rem;
}

.product-widget-container {
    height: 270px;
    padding: 5px;
}

.product-widget {
    border: 3px solid $dark-blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 100%;
    min-width: 150px;
    position: relative;

    * {
        text-align: center;
    }

    button:focus {
        outline: none;
    }

    .product-widget-overlay {
        background-color: rgba(255, 255, 255, 0.25);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
    }

    .product-widget-row {
        padding: 5px 0px;
    }

    .product-widget-image-container {
        display: flex;
        flex: 1;
        height: 30%;
        justify-content: center;

        .product-widget-image {
            object-fit: contain;
            width: 100%;
        }
    }

    .product-widget-text-container {
        flex: 1;
        margin: 2px;
    }

    .product-widget-name-container {
        background-color: $dark-blue;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        flex-direction: column;
        height: 35px;
        justify-content: center;
        padding: 0px 5px;
    }

    .product-widget-name {
        font-size: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product-widget-detail {
        padding-top: 12px;
    }

    .product-widget-add {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-top: 0px;
    }

    .product-widget-detail,
    .product-widget-add {
        background-color: $blue;
        display: flex;
        font-size: 0.95em;
        justify-content: space-evenly;
    }

    .product-widget-non-zero {
        display: none !important;
        justify-content: space-between !important;
    }

    .product-widget-zero-add-button {
        @extend %green-button;
        height: 100%;
        width: 100%;
    }

    %non-zero-button {
        height: 100%;
        width: 45%;
    }

    .product-widget-non-zero-add-button {
        @extend %green-button;
        @extend %non-zero-button;
    }

    .product-widget-non-zero-remove-button {
        @extend %red-button;
        @extend %non-zero-button;
    }

    .product-widget-component{
        display: flex;
        justify-content: center;
    }

    .product-widget-add-component {
        @extend .product-widget-component;
        flex: 1;
        padding: 10px;
    }
}

#search-container {
    padding: 0px 5px 5px 0px;
}

#products-container {
    flex: 1;
    height: 100;
    padding: 5px 5px 0px 0px;
}

#basket-container {
    height: 100%;
    padding: 0px 0px 0px 5px;
}

#products {  
    overflow-x: scroll;
    overflow-y: scroll;
}

#products, #basket, #search {
    border-radius: 5px;
    height: 100%;
}

#products, #basket {
    border: 2px solid lightgrey;
}

#search {
    align-items: center;
    background-color: $blue;
    --bs-gutter-x: 0rem;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 10px;

    .search-group {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 5px 0px;
        width: 400px;
    }

    label {
        color: white;
        font-size: 18px;
        margin-right: 25px;
        text-align: right;
        white-space: nowrap;
    }
}

.product-row {
    display: flex;
}

.basket-widget-active {
    margin: 1em 0.65em !important;
}

#basket {
    background-color: $lightgrey;
    cursor: pointer;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    #basket-header {
        background-color: $dark-blue;
        border-radius: 5px;
        color: $white;
        font-size: 1.5em;
        margin: 15px;
        padding: 5px;
        text-align: center;
    }

    #basket-items {
        .basket-widget {
            background-color: white;
            border: 2px solid $darkgrey;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            height: 75px;
            margin: 15px;
            position: relative;
            transition: all 0.05s ease-in-out;

            .basket-widget-overlay {
                background-color: rgba(255, 255, 255, 0.5);
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 2;
            }
    
            .basket-widget-image-container {
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 5px;
                width: 80px;
    
                .basket-item-image {
                    height: 90%;
                    object-fit: contain;
                }
            }

            .basket-widget-main-container {
                display: flex;
                flex: 1;
                min-width: 0;

                .basket-widget-details {
                    display: flex;
                    flex: 2;
                    flex-direction: column;
                    justify-content: space-evenly;
                    min-width: 0;
        
                    .basket-item-name {
                        font-size: 17px;
                        font-weight: bold;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        @media (max-width: 1400px) {
                            font-size: 15px;
                            white-space: unset;
                        }
                    }
        
                    hr {
                        margin: 0px;
                    }
        
                    .basket-widget-extra-details {
                        color: $grey;
                        flex-direction: row;
                        font-size: 13px;
                        font-weight: 500;
                        overflow: hidden;
                        white-space: nowrap;

                        @media (max-width: 1400px) {
                            display: none;
                        }
    
                        .basket-widget-extra-detail {
                            padding-right: 2px;
                        }
                    }
                }
        
                .basket-widget-modify {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 50px;
            
                    %basket-item-modify-item {
                        margin: 0px 10px;
                        height: 40%;
                    }
            
                    .basket-widget-add-button {
                        @extend %basket-item-modify-item;
                        @extend %green-button;
                    }
        
                    .basket-widget-remove-button {
                        @extend %basket-item-modify-item;
                        @extend %red-button;
                    }
                }
            }
        }
    }

    #basket-footer {
        background-color: darken($lightgrey, 5%);
        border-top: 2px solid $grey;
        bottom: 0px;
        height: 75px;
        justify-content: center;
        padding: 15px 0px;
        position: absolute;
        width: 100%;
        
        %basket-footer-item {
            flex: 1;
        }

        #basket-price {
            @extend %basket-footer-item;
            text-align: center;
        }

        #basket-checkout {
            @extend %basket-footer-item;
            @extend %green-button;
            color: black;
            line-height: 2.2;
            margin: 0px 15px;
            text-align: center;
            text-decoration: none;
        }
    }
}

%basket-min-max {
    
    cursor: pointer;
}

#basket-minimise {
    @extend %basket-min-max;
}

#basket-maximise {
    @extend %basket-min-max;
    color: black;
    // display: none;
    font-size: 1.5em;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

#basket-header, #basket-items, #basket-footer {
    display: none;
}