@import 'buttons';
@import 'colours'; 

.product-widget {
    border: 3px solid $dark-blue;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 10px;
    min-width: 150px;

    * {
        text-align: center;
    }

    .product-widget-row {
        padding: 5px 0px;
    }

    .product-widget-image-container {
        display: flex;
        justify-content: center;

        .product-widget-image {
            width: 100%;
        }
    }

    .product-widget-name {
        background-color: $dark-blue;
        font-size: 1.1em;
        justify-content: center;
    }

    .product-widget-detail,
    .product-widget-add {
        background-color: $blue;
        display: flex;
        font-size: 0.75em;
        justify-content: space-evenly;
    }

    .product-widget-non-zero {
        display: none !important;
        justify-content: space-between;
        width: 75%;
    }

    .product-widget-zero-add-button {
        @extend %green-button;
        height: 100%;
        width: 75%;
    }

    %non-zero-button {
        height: 100%;
        width: 45%;
    }

    .product-widget-non-zero-add-button {
        @extend %green-button;
        @extend %non-zero-button;
    }

    .product-widget-non-zero-remove-button {
        @extend %red-button;
        @extend %non-zero-button;
    }

    .product-widget-component{
        display: flex;
        justify-content: center;

        input {
            width: 75%;
        }
    }

    .product-widget-add-component {
        @extend .product-widget-component;
        flex: 1;
    }
}

#products, #basket {
    border: 2px solid lightgrey;
    height: 75vh;
    overflow-x: scroll;
    overflow-y: scroll;
}

.product-row {
    display: flex;
}

#basket {
    background-color: $lightgrey;
    position: relative;

    #basket-header {
        background-color: $dark-blue;
        border-radius: 5px;
        color: $white;
        font-size: 1.5em;
        margin: 15px;
        padding: 5px;
        text-align: center;
    }

    #basket-items {
        .basket-item {
            background-color: white;
            border: 2px solid $darkgrey;
            border-radius: 5px;
            display: flex;
            height: 75px;
            margin: 15px;
    
            .basket-item-image-container {
                display: flex;
                flex: 3;
                justify-content: center;
    
                .basket-item-image {
                    object-fit: contain;
                    width: 40%;
                }
            }
    
            .basket-item-main {
                display: flex;
                flex: 7;
                flex-direction: column;
                justify-content: space-evenly;
    
                %basket-item-main-item {
                    display: flex;
                    flex-direction: column;
                    height: 50%;
                }
    
                .basket-item-name {
                    @extend %basket-item-main-item;
                    font-size: 20px;
                    font-weight: bold;
                    justify-content: flex-end;
                }
    
                hr {
                    margin: 0px;
                }
    
                .basket-item-details {
                    @extend %basket-item-main-item;
                    color: $grey;
                    font-size: 13px;
                    justify-content: flex-start;
                }
            }
    
            .basket-item-modify {
                display: flex;
                flex: 2;
                flex-direction: column;
                justify-content: space-evenly;
        
                %basket-item-modify-item {
                    margin: 0px 10px;
                    height: 40%;
                }
        
                .basket-item-add {
                    @extend %basket-item-modify-item;
                    @extend %green-button;
                }
    
                .basket-item-remove {
                    @extend %basket-item-modify-item;
                    @extend %red-button;
                }
            }
        }
    }

    #basket-footer {
        background-color: darken($lightgrey, 5%);
        border-top: 2px solid $grey;
        bottom: 0px;
        display: flex;
        height: 75px;
        justify-content: center;
        padding: 15px 0px;
        position: absolute;
        width: 100%;
        
        %basket-footer-item {
            flex: 1;
        }

        #basket-price {
            @extend %basket-footer-item;
            text-align: center;
        }

        #basket-checkout {
            @extend %basket-footer-item;
            @extend %green-button;
            margin: 0px 15px;
        }
    }
}

