<div class="basket-widget-image-container">
    <img src="/images/${image}" class="basket-item-image">
</div>
<div class="basket-widget-main">
    <div class="basket-item-name">
        ${name}
    </div>
    <hr>
    <div class="basket-widget-details">
        <span class="basket-widget-detail">
            x
        </span>
        <span class="basket-widget-detail basket-item-number">
            1
        </span>
        <span class="basket-widget-detail">
            @
        </span>
        <span class="basket-widget-detail basket-item-price">
            ${price}
        </span>
        <span class="basket-widget-detail">
            =
        </span>
        <span class="basket-widget-detail basket-item-total-price">
            ${totalPrice}
        </span>
    </div>
</div>
<div class="basket-widget-modify">
    <button class="basket-widget-add-button">
        <i class="fas fa-plus"></i>
    </button>
    <button class="basket-widget-remove-button">
        <i class="fas fa-minus"></i>
    </button>
</div>