<div class="basket-widget-overlay d-none"></div>
<div class="basket-widget-image-container">
    <img src="/images/${image}" class="basket-item-image">
</div>
<div class="basket-widget-main-container">
    <div class="basket-widget-details">
        <div class="basket-item-name">
            ${name}
        </div>
        <div class="basket-widget-extra-details">
            <hr>
            <span class="basket-widget-extra-detail">x</span>
            <span class="basket-widget-extra-detail basket-item-number">1</span>
            <span class="basket-widget-extra-detail">@</span>
            <span class="basket-widget-extra-detail basket-item-price">${price}</span>
            <span class="basket-widget-extra-detail">=</span>
            <span class="basket-widget-extra-detail basket-item-total-price">${totalPrice}</span>
        </div>
    </div>
    <div class="basket-widget-modify">
        <button class="widget-button basket-widget-add-button">
            <i class="fas fa-plus"></i>
        </button>
        <button class="widget-button basket-widget-remove-button">
            <i class="fas fa-minus"></i>
        </button>
    </div>
</div>