<div id="modal">
    <div id="modal-box">
        <div id="modal-close"><i class="far fa-times-circle"></i></div>
        <div id="modal-name-container">
            <div id="modal-name">${name}</div>
        </div>
        <table>
            <tr>
                <td>Price:</td>
                <td>${price}</td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td>${weight}g</td>
            </tr>
            <tr>
                <td>Price per kg:</td>
                <td>${pricePerKg}</td>
            </tr>
        </table>
        <hr>
        <div id="modal-description-container">
            <div id="modal-description">${description}</div>
        </div>
        <hr>
        <div id="modal-nutrition-container">
            <div id="modal-nutrition-heading">
                Per 100g:
            </div>
            <div id="modal-nutrition-blocks">
                <div class="modal-nutrition-block">
                    <div class="modal-nutrition-block-heading">
                        ENERGY
                    </div>
                    <div class="modal-nutrition-block-data-actual">
                        ${energy}kcal
                    </div>
                    <div class="modal-nutrition-block-data-pct-container-container">
                        <div class="modal-nutrition-block-data-pct-container">
                            <div class="modal-nutrition-block-data-pct">
                                ${energyPct}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-nutrition-block">
                    <div class="modal-nutrition-block-heading">
                        FAT
                    </div>
                    <div class="modal-nutrition-block-data-actual">
                         ${fat}g
                    </div>
                    <div class="modal-nutrition-block-data-pct-container-container">
                        <div class="modal-nutrition-block-data-pct-container">
                            <div class="modal-nutrition-block-data-pct">
                                ${fatPct}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-nutrition-block">
                    <div class="modal-nutrition-block-heading">
                        SATURATES
                    </div>
                    <div class="modal-nutrition-block-data-actual">
                        ${saturates}g
                    </div>
                    <div class="modal-nutrition-block-data-pct-container-container">
                        <div class="modal-nutrition-block-data-pct-container">
                            <div class="modal-nutrition-block-data-pct">
                                ${saturatesPct}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-nutrition-block">
                    <div class="modal-nutrition-block-heading">
                        SUGARS
                    </div>
                    <div class="modal-nutrition-block-data-actual">
                        ${sugars}g
                    </div>
                    <div class="modal-nutrition-block-data-pct-container-container">
                        <div class="modal-nutrition-block-data-pct-container">
                            <div class="modal-nutrition-block-data-pct">
                                ${sugarsPct}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-nutrition-block">
                    <div class="modal-nutrition-block-heading">
                        SALT
                    </div>
                    <div class="modal-nutrition-block-data-actual">
                        ${salt}g
                    </div>
                    <div class="modal-nutrition-block-data-pct-container-container">
                        <div class="modal-nutrition-block-data-pct-container">
                            <div class="modal-nutrition-block-data-pct">
                                ${saltPct}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>