<div id="modal">
    <div id="modal-box">
        <div id="modal-close"><i class="far fa-times-circle"></i></div>
        <div class="product-modal-name-container">
            <div class="product-modal-name">${name}</div>
        </div>
        <div class="product-modal-price-container">
            <div class="product-modal-price">${price}</div>
        </div>
        <div class="product-modal-weight-container">
            <div class="product-modal-weight">${weight}</div>
        </div>
        <div class="product-modal-price-per-kg-container">
            <div class="product-modal-price-per-kg">${pricePerKg}</div>
        </div>
        <div class="product-modal-description-container">
            <div class="product-modal-description">${description}</div>
        </div>
        <div class="product-modal-ingredients-container">
            <div class="product-modal-ingredients">${ingredients}</div>
        </div>
        <div class="product-modal-nutrition-container">
            <div class="product-modal-nutrition">${nutrition}</div>
        </div>
    </div>
</div>